.custom-grid-layout {
    padding-top: 1.25rem; /* pt-5 */
    display: grid;        /* grid */
    grid-template-columns: 1fr; /* grid-cols-1 */
    gap: 1rem; /* gap-4 */
    justify-items: center; /* justify-items-center */
  }
  @media (min-width: 885px) { /* md breakpoint */
    .custom-grid-layout {
      grid-template-columns: repeat(2, 1fr); /* md:grid-cols-2 */
    }
  }
  
  @media (min-width: 1280px) { /* lg breakpoint */
    .custom-grid-layout {
      grid-template-columns: repeat(3, 1fr); /* lg:grid-cols-3 */
    }
  }
  